{% extends 'base.html' %}
{% block content %}

<h1>Character Details</h1>

<div class="row">
  <!-- User Details -->
  <div class="col s6">
    <div class="card">
      <div class="card-content">
          <span class="card-title">{{ user.name }}</span>
          <p>Home Location: {{ user.town }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'user_update' user.id %}">Edit</a>
        <a href="{% url 'user_delete' user.id %}">Delete</a>
      </div>
    </div>
  </div>
  <!-- User Donated Fish -->
  <div class="col s6">
    <form action="{% url 'add_fish' user.id %}" method="POST">
      {% csrf_token %}
      {{ fish_form.as_p }}
      <input type="submit" class="btn" value="Add Fish">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Donated Fish</th></tr>
      </thead>
      <tbody>
        {% for fish in user.fish_set.all %}
          <tr>
            <td>{{fish.name}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- User's Licences List -->
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ user.name }}'s Licences</h3>
      {% if user.licences.count %}
        {% for licence in user.licences.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ licence.name }} - level {{ licence.level }}
              </span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Licences Purchased</h5>
      {% endif %}
    </div>
    <!-- Available toys will come after this line -->
    <div class="col s6">
      <h3>Available Licences</h3>
      {% if licences.count %}
        {% for licence in licences.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ licence.name }} - level {{ licence.level }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_licence' user.id licence.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{user.name}} Already Has All Licences Available</h5>
      {% endif %}
    </div>
</div>


{% endblock %}