{% extends 'base.html' %}
{% block content %}

<h1>Fish Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ fish.name }}</span>
        <p>Location: {{ fish.location }}</p>
        <p>Time Active: {{ fish.time_active }}</p>
        <p>Season: {{ fish.season }}</p>
        <p>Price: <img src="https://static.wikia.nocookie.net/dinkum/images/4/42/Inv_Dinks.png" width="30" height="30" alt="Dinkum Coin">{{ fish.price }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'fish_update' fish.id %}">Edit</a>
    <a href="{% url 'fish_delete' fish.id %}">Delete</a>
  </div>
</div>

{% endblock %}